.gradle
.DS_Store
.idea
build/
local.properties
localhost/
obj/
*.iml
Gemfile.lock
_site/
/app/src/main/assets/HandGestures1/
/app/src/main/assets/HandGestures2/
/app/src/main/assets/Smilies1/
/app/src/main/assets/Smilies2/
/app/src/main/assets/Smilies3/
/app/src/main/assets/Smilies4/
/app/src/main/assets/Smilies5/
/app/src/main/assets/Smilies6/
/app/src/main/assets/static/
/app/debug/
/app/release/
